@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: rgb(37, 37, 37);
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    height: 100vh;
}

header{
    background-color: rgb(30, 30, 30);;
    /* border-bottom: 1px solid grey; */
}

nav{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    
}
nav h1{
    color:aquamarine;
    margin-left: 1rem;
    cursor: pointer;
}

nav menu{
    margin-left: auto;
    cursor: pointer;
}

nav span{
    margin-right: 1.5rem;
}
nav span:hover{
    padding-bottom: 8px;
    border-bottom: 2px solid greenyellow;
}
footer{
    display: flex;
    justify-content: center;
    position:absolute;
    bottom: 15px;
    left:0;
    right:0;
}

/* Paper{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
} */

@media (max-width: 768px){
    /* header{
        max-width: 100%;
        margin:auto;
    } */
}

@media (min-width: 1024px) {
    header{
        max-width: 100%;
        margin:auto;
    }

    nav {
        max-width: 70%;
        margin:auto;
    }
}